<!-- /Library/LaunchDaemons/com.company.filevault.plist -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.company.filevault.user.addition</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/add_filevault_user.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/var/log/wtmp</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/var/log/filevault_daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/filevault_daemon.log</string>
</dict>
</plist>